.to-do-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    height: 22px;
    background: white;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;

    .task-name {
        color: lightseagreen;
    }

    .task-finished {
        color: red;
        text-decoration: line-through;
    }

    .delete-icon {
        margin-right: 10px;
        cursor: pointer;
    }

}